@using Masb.Mvc.TableBuilder
@using Masb.Mvc.TableBuilder.Sample.Models
@model TableViewModel
@{
    this.ViewBag.Title = "Sample Table Page";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var tableTemplate = this.Html.TableTemplateFor(m => m.Rows)
        .AddColumnFor(m => m.PersonName, @<div>@item.Meta.GetDisplayName()</div>, @<div>@item.Html.EditorFor(m => m)</div>)
        .AddColumnFor(m => m.BirthDate, @<div>@item.Meta.GetDisplayName()</div>, @<div>@item.Html.EditorFor(m => m)</div>)
        .AddColumnFor(m => m.Age, @<div>@item.Meta.GetDisplayName()</div>, @<div>@item.Html.EditorFor(m => m)</div>)
        .AddColumn(
            @<div>Male/Female property</div>,
            @<div>@(item.Model == null || item.Model.Gender == GenderKinds.Male
                        ? item.Html.EditorFor(m => m.MaleProp)
                        : item.Html.EditorFor(m => m.FemaleProp))</div>)
        ;
}
@{
    var table = this.Html.Table(tableTemplate) as ITableRenderer;
    <table id="@table.Html.ViewData.TemplateInfo.GetFullHtmlFieldId("")">
        @{
            var allItems = table.Items.Select(item => item.Html.ViewData.Model).ToArray();
            var header = table.Header;
            <thead>
                <tr>
                    @foreach (var headerColumn in header.Cells)
                    {
                        <th>
                            @headerColumn.Render()
                        </th>
                    }
                </tr>
            </thead>
        }
        <tbody>
            @foreach (var item in table.Items)
            {
                <tr id="@item.Html.ViewData.TemplateInfo.GetFullHtmlFieldId("")">
                    @item.RenderIndexHiddenField()
                    @foreach (var itemColumn in item.Cells)
                    {
                        <td id="@itemColumn.Html.ViewData.TemplateInfo.GetFullHtmlFieldId("Cell")">
                            @itemColumn.Render()
                        </td>
                    }
                </tr>
            }
            <tr>
                @{ var newItem = table.NewItem(int.MaxValue, null); }
                @newItem.RenderIndexHiddenField()
                @foreach (var itemColumn in newItem.Cells)
                {
                    <td>
                        @itemColumn.Render()
                    </td>
                }
            </tr>
        </tbody>
    </table>
}